
//Hero Section

.hero
    .container
        .row    
            .col-12.col-lg-12
                .hero__content 
                    .hero__subtitle Filmlane
                    .hero__title
                        | Unlimited 
                        span Movie
                        | , TVs Shows, & More.                  
                    .hero__wrapper 
                        .meta-wrapper
                            .meta-wrapper__pg pg18
                            .meta-wrapper__quality hd 
                        .categories-wrapper 
                            h4.categories-wrapper__category Romance
                            h4.categories-wrapper__category Drama
                        .data-wrapper 
                            .data-wrapper__data 
                                i.ri-calendar-2-line 
                                span 2022
                            .data-wrapper__time 
                                i.ri-timer-2-line
                                span 128   
                    .btn.btn--header   
                        i.ri-arrow-right-s-fill
                        span watch now        



//Upcoming Movies
.up-movies
    .container
        .row    
            .col-12.col-lg-12
                .up-movies__content  
                    .up-movies__text
                        .breaker.up-movies__breaker
                            h3.breaker__subtitle ONLINE STREAMING
                            h1.breaker__title Upcoming Movies
                        .up-movies__categories 
                            .btn.btn--category   
                                span movies        
                            .btn.btn--category   
                                span tv show      
                            .btn.btn--category   
                                span anime  
                    .up-movies__wrapper.movies-srollbar

                        .up-movies__movie.movie 
                            .movie__img 
                               a(href="movie.html") 
                                    img(src="assets/img/upcoming-1.png", alt="")     
                            .movie__description 
                                .movie__title The Northman
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5   

                        .up-movies__movie.movie 
                                    .movie__img 
                                        a(href="/movie.html") 
                                            img(src="assets/img/upcoming-2.png", alt="")     
                                    .movie__description 
                                        .movie__title Doctor Strange in the Multiverse of Madness
                                        .movie__data 2022      
                                    .movie__information
                                        .movie__quality HD 
                                        .movie__data 
                                            i.ri-time-line
                                            span 99 min         
                                        .movie__rating      
                                            i.ri-star-fill
                                            span 8.5   

                        .up-movies__movie.movie 
                                        .movie__img 
                                            a(href="/movie.html")    
                                                img(src="assets/img/upcoming-3.png", alt="")   
                                        .movie__description 
                                            .movie__title Memory
                                            .movie__data 2022      
                                        .movie__information
                                            .movie__quality HD 
                                            .movie__data 
                                                i.ri-time-line 
                                                span 151 min        
                                            .movie__rating      
                                                i.ri-star-fill
                                                span 8.5   

                        .up-movies__movie.movie 
                                        .movie__img 
                                            a(href="/movie.html") 
                                                 img(src="assets/img/upcoming-4.png", alt="")   
                                        .movie__description 
                                            .movie__title TUnbearable Weight of Massive Talent
                                            .movie__data 2022      
                                        .movie__information
                                            .movie__quality HD 
                                            .movie__data 
                                                i.ri-time-line 
                                                span 102 min         
                                            .movie__rating      
                                                i.ri-star-fill
                                                span 8.5   


//Services Section

.services 
    .container 
        .row 
            .col-12.col-lg-12 
                .services__content 
                    .services__banner 
                        .services__img 
                            img(src="assets/img/service-banner.jpg", alt="")
                            .btn.btn--services  
                                i.ri-download-fill
                                span download        
                    .services__text 
                        h3.services__subtitle OUR SERVICES
                        h1.services__title Download Your Shows Watch Offline.
                        p.services__p Lorem ipsum dolor sit amet, consecetur adipiscing elseddo eiusmod tempor.There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in some injected humour.
                        ul.services__list
                            li.services__card 
                                i.card__icon.ri-computer-fill
                                .card__wrapper    
                                  h4.card__title Enjoy on Your TV.
                                  p.card__p Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.
                            li.services__card 
                                i.card__icon.ri-vidicon-fill 
                                .card__wrapper    
                                  h4.card__title Watch Everywhere.
                                  p.card__p Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.      

//Top Rated Movie

.top-rated
    .container
        .row    
            .col-12.col-lg-12
                .top-rated__content  
                    .top-rated__text
                        .breaker.top-rated__breaker
                            h3.breaker__subtitle ONLINE STREAMING
                            h1.breaker__title Top Rated Movies
                        .top-rated__categories 
                            .btn.btn--top-rated   
                                span movies        
                            .btn.btn--top-rated   
                                span tv show      
                            .btn.btn--top-rated   
                                span documentary  
                            .btn.btn--top-rated    
                                span sport  
                    .top-rated__movies     
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-1.png", alt="")     
                            .movie__description 
                                .movie__title Sonic the Hedgehog 2
                                .movie__data 2022      
                            .movie__information
                                .movie__quality 4K 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                    
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-2.png", alt="")     
                            .movie__description 
                                .movie__title Morbius
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                       
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-3.png", alt="")     
                            .movie__description 
                                .movie__title The Adam Project
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 10    
                
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-4.png", alt="")     
                            .movie__description 
                                .movie__title Free Guy
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 9    
                 
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-5.png", alt="")     
                            .movie__description 
                                .movie__title The Batman
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
              
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-6.png", alt="")     
                            .movie__description 
                                .movie__title Uncharted
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-7.png", alt="")     
                            .movie__description 
                                .movie__title Death on the Nile
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                  
                        .top-rated__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-8.png", alt="")     
                            .movie__description 
                                .movie__title The King's Man
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 127min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 6    

//Tv Series                                    
.tv-series
    .container
        .row    
            .col-12.col-lg-12
                .tv-series__content  
                    .tv-series__text
                        .breaker.tv-series__breaker
                            h3.breaker__subtitle BEST TV SERIES
                            h1.breaker__title World Best TV Series
                    .tv-series__movies     
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-1.png", alt="")     
                            .movie__description 
                                .movie__title Sonic the Hedgehog 2
                                .movie__data 2022      
                            .movie__information
                                .movie__quality 4K 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                    
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-2.png", alt="")     
                            .movie__description 
                                .movie__title Morbius
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                       
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-3.png", alt="")     
                            .movie__description 
                                .movie__title The Adam Project
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 10    
                
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-4.png", alt="")     
                            .movie__description 
                                .movie__title Free Guy
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 9    
                 
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-5.png", alt="")     
                            .movie__description 
                                .movie__title The Batman
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
              
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-6.png", alt="")     
                            .movie__description 
                                .movie__title Uncharted
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-7.png", alt="")     
                            .movie__description 
                                .movie__title Death on the Nile
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                  
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-8.png", alt="")     
                            .movie__description 
                                .movie__title The King's Man
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 127min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 6    

//CTA                                   
.cta
    .container
        .row    
            .col-12.col-lg-12
                .cta__content 
                    .cta__text 
                        h1.cta__title TRIAL START FIRST 30 DAYS.
                        h3.cta__subtitle Enter your email to create or restart your membership.
                    form.cta__form 
                        input(type="email" name="email" required placeholder="Enter your email" class="cta__email")  
                        .btn.btn--cta    
                                    span get started  


