//footer

footer.footer 
    .container 
        .row 
            .col-12.col-lg-12
                .footer__content 
                    .footer__top 

                        .footer__brand 
                            .footer__logo 
                                 a(href="#") 
                                    .logo__img
                                        img(src="assets/img/logo.svg", alt="Filmane logo")
                                 
                            ul.link__list 
                                    li.link__element 
                                        a(href="") Home 
                                    li.link__element 
                                        a(href="") Movie 
                                    li.link__element 
                                        a(href="") Tv show  
                                    li.link__element 
                                        a(href="") web services  
                                    li.link__element 
                                        a(href="") pricing      


                        .footer__wrapper
                            ul.quiclink__list    
                                li.quiclink__element 
                                        a(href="") Home 
                                li.quiclink__element 
                                        a(href="") Movie 
                                li.quiclink__element 
                                        a(href="") Tv show  
                                li.quiclink__element 
                                        a(href="") web services  
                  
                            ul.social__list    
                                li.social__element 
                                        a(href="") 
                                            i.ri-facebook-circle-fill
                                li.social__element 
                                        a(href="") 
                                            i.ri-twitter-fill
                                li.social__element 
                                        a(href="")  
                                            i.ri-pinterest-fill

                                li.social__element 
                                        a(href="")  
                                            i.ri-instagram-fill 


                   
.footer-bottom 
    .container                              
         .row 
            .col-12.col-lg-12
                    .footer-bottom__content     
                            h3.footer-bottom__copyright The test site was made by
                                span Krzysztof Siek  
                            .footer-bottom__logos 
                                img(src="src/img/footer-bottom-img.png", alt="")                                         





script(src="src/js/main.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

