.movie-sp   
    .container  
        .row 
            .col-12.col-lg-12 
                .movie-sp__content 
                    .movie-sp__banner 
                        .movie-sp__wrapper    
                            .movie-sp__img 
                               img(src="assets/img/movie-4.png", alt="")     
                               .btn--play 
                                    a(href="") 
                                    i.ri-play-circle-line     
                            .movie-sp__information 
                                .meta-name
                                    .meta-name__subtitle New Episodes
                                    .meta-name__title Free 
                                        span Guy     
                                .box-name-wrapper        
                                    .badge-box
                                        .badge-box__pg pg 13
                                        .badge-box__quality HD 
                                    .movie-category
                                        a(href="") Comedy 
                                        a(href="") Action 
                                        a(href="") Adventure
                                        a(href="") Science Fiction 
                                .movie-data  
                                    .movie-data__rating      
                                        i.ri-calendar-todo-line
                                        span 2022    
                                    .movie-data__data 
                                        i.ri-time-line 
                                        span 137min         
                                h3.movie-description A bank teller called Guy realizes he is a background character in an open world video game called Free City that will soon go offline.
                                .movie-action 
                                    .movie-action__icon 
                                        i.ri-share-line
                                        span Share
                                    .movie-action__text 
                                        .movie-action__title Prime Video
                                        .movie-action__subtitle Streaming Channels
                                    .movie-action__button
                                        .btn.btn--movie  
                                            i.ri-arrow-right-s-fill
                                            span watch now               
                        .movie__download 
                                    .btn.btn--services.btn--movies-detailis  
                                        i.ri-download-fill
                                        span download             

