.tv-series
    .container
        .row    
            .col-12.col-lg-12
                .tv-series__content  
                    .tv-series__text
                        .breaker.tv-series__breaker
                            h3.breaker__subtitle BEST TV SERIES
                            h1.breaker__title World Best TV Series
                    .tv-series__movies     
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-1.png", alt="")     
                            .movie__description 
                                .movie__title Sonic the Hedgehog 2
                                .movie__data 2022      
                            .movie__information
                                .movie__quality 4K 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                    
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-2.png", alt="")     
                            .movie__description 
                                .movie__title Morbius
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                       
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-3.png", alt="")     
                            .movie__description 
                                .movie__title The Adam Project
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 10    
                
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-4.png", alt="")     
                            .movie__description 
                                .movie__title Free Guy
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 9    
                 
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-5.png", alt="")     
                            .movie__description 
                                .movie__title The Batman
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
              
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-6.png", alt="")     
                            .movie__description 
                                .movie__title Uncharted
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-7.png", alt="")     
                            .movie__description 
                                .movie__title Death on the Nile
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 137min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 8.5    
                  
                        .tv-series__movie.movie 
                            .movie__img 
                                img(src="assets/img/movie-8.png", alt="")     
                            .movie__description 
                                .movie__title The King's Man
                                .movie__data 2022      
                            .movie__information
                                .movie__quality HD 
                                .movie__data 
                                    i.ri-time-line 
                                    span 127min         
                                .movie__rating      
                                    i.ri-star-fill
                                    span 6    