doctype html
html(lang="pl")
    //HEAD
    include parts/head.pug
    body
        //HEADER
        include parts/header.pug
        //Movie
        include parts/movie.pug
        //Tv Series
        include parts/serials.pug
        //FOOTER
        include parts/footer.pug